@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "inter";
        src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
    }
    html {
        @apply font-inter;
    }
    body {
        @apply bg-offwhite p-4;
    }
}

.header {
    @apply flex items-center;

    .mobile-nav-toggle {
        @apply ml-auto absolute right-4 top-6 z-10;
    }

    .navbar {
        @apply absolute bg-offwhite h-screen w-screen top-0 right-0 bg-blue-soft;
    }

    .navbar--close {
        @apply hidden;
    }

    .navbar > ul {
        @apply absolute right-0 pt-24 w-[70%] h-[100%] bg-offwhite;
    }
    .navbar > ul > li {
        @apply mt-4 ml-6 text-lg font-semibold;
    }
}

@screen md {
    .header {
        .mobile-nav-toggle {
            @apply hidden;
        }
        .navbar {
            @apply flex static w-auto h-auto ml-auto p-0 bg-inherit;
        }
        .navbar--close {
            @apply block;
        }
        .navbar > ul {
            @apply static flex m-0 p-0;
        }
        .navbar > ul > li {
            @apply ml-4 mt-0 font-medium;
        }
    }
}

.main {
    @apply grid gap-4 mt-4;
    .main-news {
        @apply grid gap-4;

        h1 {
            @apply text-5xl font-extrabold;
        }
        p {
            @apply leading-8 text-blue-very_dark;
        }
        button {
            @apply bg-red-soft text-offwhite uppercase px-8 py-2 tracking-widest mt-4;
        }
    }
    .recent-news {
        @apply p-6 bg-blue-very_dark;
        article {
            @apply mt-6;
        }
        article:not(:last-child) {
            @apply border-b border-blue-grayish pb-6;
        }
        h2 {
            @apply text-orange-soft font-bold text-5xl mt-0;
        }
        h3 {
            @apply text-offwhite font-bold text-xl;
        }
        p {
            @apply text-blue-grayish;
        }
    }

    .others {
        @apply grid gap-4;
        article {
            @apply flex gap-4 items-center;
            img {
                @apply w-[6rem];
            }
            .content {
                @apply flex justify-evenly flex-col h-full;
                div {
                    @apply text-blue-grayish text-2xl font-bold;
                }
                h4 {
                    @apply text-blue-very_dark text-xl font-bold;
                }
                p {
                    @apply text-blue-dark_grayish;
                }
            }
        }
    }
}

@screen lg {
    body {
        @apply px-20 py-8;
    }
    .main {
        @apply grid-cols-3 grid-rows-1 gap-8  mt-8;
        .main-news {
            @apply grid-cols-2 grid-rows-1  gap-8 col-span-2;
            article {
                @apply mt-8;
            }
            article:not(:last-child) {
                @apply pb-8;
            }
            picture {
                @apply col-span-2;
            }
            h1 {
                @apply text-6xl;
            }
            p {
                @apply text-xl;
            }
            button {
                @apply px-8 py-2 text-xl mt-8;
            }
        }

        .recent-news {
            @apply p-8;
            article:not(:last-child) {
            }
            h2 {
            }
            h3 {
            }
            p {
            }
        }
        .others {
            @apply grid-cols-3 gap-8 col-span-3;
            article {
                img {
                    @apply w-[7rem];
                }
                .content {
                    div {
                    }
                    h4 {
                    }
                }
            }
        }
    }
}
