@font-face {
    font-family: "PlusJakartaSans";
    src: url("./src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colors */

    /* Primary */

    --red: 1, 90%, 64%;
    --blue: 219, 85%, 26%;

    /* Neutral */

    --white: 0, 0%, 100%;
    --very-light-grayish-blue: 210, 60%, 98%;
    --light-grayish-blue-1: 211, 68%, 94%;
    --light-grayish-blue-2: 205, 33%, 90%;
    --grayish-blue: 219, 14%, 63%;
    --dark-grayish-blue: 219, 12%, 42%;
    --very-dark-blue: 224, 21%, 14%;

    /* Typography */

    --font-family: PlusJakartaSans, sans-serif;
    --font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    background-color: hsla(var(--very-light-grayish-blue));
    min-height: 100vh;
}
img {
    display: block;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: 800px;
    background-color: hsla(var(--white));
    border-radius: 0.7rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header > h1 {
    font-size: 1.3rem;
}

header > h1 > span {
    color: hsla(var(--white));
    background-color: hsla(var(--blue));
    border-radius: 5px;
    padding: 0.1rem 0.7rem;
}

header > button {
    border: none;
    background-color: inherit;
}
header > button:hover {
    cursor: pointer;
    color: hsla(var(--blue));
}

@media (max-width: 800px) {
    header > h1 {
        font-size: 1rem;
    }
}
