@font-face {
    font-family: "PlusJakartaSans";
    src: url("./src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colors */

    /* Primary */

    --red: 1, 90%, 64%;
    --blue: 219, 85%, 26%;

    /* Neutral */

    --white: 0, 0%, 100%;
    --very-light-grayish-blue: 210, 60%, 98%;
    --light-grayish-blue-1: 211, 68%, 94%;
    --light-grayish-blue-2: 205, 33%, 90%;
    --grayish-blue: 219, 14%, 63%;
    --dark-grayish-blue: 219, 12%, 42%;
    --very-dark-blue: 224, 21%, 14%;

    --primary: white;
    --padding: 4rem;
    /* Typography */

    --font-family: PlusJakartaSans, sans-serif;
    --font-size: 16px;

    --primary-bg: blue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}
img {
    display: block;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

body {
    background-color: var(--primary);
    padding: var(--padding);
}
.fs-100 {
    font-size: 1rem;
}
.fs-200 {
    font-size: 2rem;
}
.fs-300 {
    font-size: 3rem;
}

.primary {
    background-color: var(--primary-bg);
}
.secondary {
    background-color: var(--primary-bg);
}

.dark:root {
    --primary-bg: red;
}
