@import url(./../../index.css);

.card {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: hsla(var(--white));
    width: 100%;
}
.card--unread {
    background-color: hsla(var(--very-light-grayish-blue), 1);
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.profile-picture {
    aspect-ratio: 1;
    width: 2.5rem;
}

.text {
    color: hsla(var(--grayish-blue));

    /* font-weight: 600; */
}
.name {
    font-weight: bold;
    color: hsla(var(--very-dark-blue));
}

.action-text {
    font-weight: bold;
    color: hsla(var(--dark-grayish-blue));
}
.read-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: hsla(var(--red), 0.7);
    display: inline-block;
    margin-left: 0.3rem;
}
.date {
    color: hsla(var(--grayish-blue), 0.5);

    margin-top: 0.3rem;
}

.message {
    margin-top: 1rem;
    border: 1px solid hsla(var(--light-grayish-blue-2));
    padding: 1rem;
    color: hsla(var(--grayish-blue));
    border-radius: 0.3rem;
}

.upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.action-image {
    margin-left: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
}

.name:hover,
.action-text:hover {
    color: hsla(var(--blue));
}

.action-image:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.message:hover {
    background-color: hsla(var(--light-grayish-blue-1), 1);
}
