@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400; /* Regular */
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700; /* Bold */
	font-style: normal;
}

:root {
	/* Colors */
	--tomato: hsl(4, 100%, 67%);
	--tomato-light: hsla(4, 100%, 67%, 0.3);

	--dark-slate-grey: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);

	/* Typography */
	--font-size: 16px;
	--font-family: "Roboto", sans-serif;
	--font-weight-bold: 700;
	--font-weight-regular: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.hidden {
	display: none;
}
main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
}

.banner__image--success {
	padding-left: 1rem;
}
.content {
	padding: 1rem;
}
.content--success {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.content__header__title {
	font-size: 2.7rem;
	font-weight: var(--font-weight-bold);
	color: var(--dark-slate-grey);
	padding: 1rem 0;
}
.content__header__text {
	line-height: 1.5rem;
	color: var(--dark-slate-grey);
}
.content__list {
	list-style: none;
	padding: 1rem 0;
}
.content__list__item {
	display: flex;
	margin: 0.7rem 0;
}
.content__list__item::before {
	content: url(/assets/images/icon-list.svg);
	margin-right: 1rem;
}
.content__form__label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.7rem;
	font-weight: var(--font-weight-bold);
}
.content__form__label > span:nth-child(1) {
	color: var(--dark-slate-grey);
}
.content__form__label > span:nth-child(2) {
	color: var(--tomato);
}

.content__form__input {
	padding: 1rem;
	border: 1px solid var(--grey);
	border-radius: 0.4rem;
	margin-top: 0.7rem;
	margin-bottom: 1rem;
	width: 100%;
	opacity: 0.7;
	color: var(--dark-slate-grey);
	font-weight: var(--font-weight-bold);
}
.input--error {
	color: var(--tomato);
	border-color: var(--tomato);
	background-color: var(--tomato-light);
	opacity: 1;
}
.content__form__input:focus {
	border-color: 1px solid var(--dark-slate-grey);
	outline: none;
	opacity: 1;
}
.content__button {
	padding: 1rem;
	border: none;
	font-weight: var(--font-weight-bold);
	color: var(--white);
	background: var(--dark-slate-grey);
	border-radius: 0.5rem;
	width: 100%;
}
.content__button:hover {
	color: var(--white);
}

.content__success__button {
	align-self: end;
}
